<div>
	<form  name="form" novalidate>
	 <input  type="hidden" ng-model="contact.id" /> 
	 <fieldset>
        <legend>Datos de Contactos</legend>
		<label for="name">Nombre</label> 
		<input type="text" id="name" ng-model="contact.name" required /> 
		<br/>
		<label for="email">Correo</label> 
		<input type="email" id="email" name="email" ng-model="contact.email" required /> 
		 <div ng-show="form.email.$dirty && form.email.$invalid">Invalid:
         
          <span ng-show="form.email.$error.email">This is not a valid email.</span>
        </div>
		<br/>
		<label for="phone">Telefono</label> 
		<input type="text" id="phone" ng-model="contact.phone" /> 
		<br /> 
		<input type="button" value="Save"  ng-click="save()" class="btn btn-primary" ng-disabled="form.$invalid"  />
		<a href="#/libros">volver</a>
		</fieldset>
	</form>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Telefono</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="obj in contacts">
				<td>{{ obj.name }}</td>
				<td>{{ obj.email }}</td>
				<td>{{ obj.phone }}</td>
				<td><a href="#/contact" ng-click="edit(obj.id)">edit</a> | <a href="#/contact" ng-click="remove(obj.id)">delete</a></td>
			</tr>
		</tbody>
	</table>
</div>